<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>See all buses</title>
</head>
<body>
<tr th:each="depot: ${Depots}">
    <td th:text="${depot.name}" />
    <td th:text="${depot.busCapacity}" />

    <table>
        <thead>
        <tr>
            <th> Plate number </th>
            <th> Type </th>
            <th> Color </th>
            <th> Capacity </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${BusVehiclesWithoutDepot.isEmpty()}">
            <td colspan="2">No Bus parked in this Depot.</td>
        </tr>
        <tr th:each="busVehicle : ${Depot.busVehiclesParked}">
            <td><span th:text="${busVehicle.plateNumber}"> Plate number </span></td>
            <td><span th:text="${busVehicle.type}"> Type </span></td>
            <td><span th:text="${busVehicle.color}"> Color </span></td>
            <td><span th:text="${busVehicle.passengerCapacity}"> Capacity </span></td>
        </tr>
        </tbody>
    </table>
</tr>

<table>
    <thead>
    <tr>
        <th> Plate number </th>
        <th> Type </th>
        <th> Color </th>
        <th> Capacity </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="busVehicle : ${BusVehiclesWithoutDepot}">
        <td><span th:text="${busVehicle.plateNumber}"> Plate number </span></td>
        <td><span th:text="${busVehicle.type}"> Type </span></td>
        <td><span th:text="${busVehicle.color}"> Color </span></td>
        <td><span th:text="${busVehicle.passengerCapacity}"> Capacity </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>